.day__pilot__navigation {
    margin-left: 45px;

    .navigator_default_main {
        background-color: white;
    }
}
.calendar_default_main{
    background-color: #94bee6;
    border:  solid 5px green;

}
.navigator_default_titleleft{
}