.day__pilot__navigation {
    width: 100%;
    .navigator_default_main {
        background-color: white;
        margin: auto;
    }
}
.calendar_default_main{
    background-color: #94bee6;
    border:  solid 5px green;

}
.navigator_default_titleleft{
}