.experiences_field_wrapper {
  .experience_wrapper {
    display: flex;
    gap: 0.5rem;

    .inputs_wrapper {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    .experience_action_button {
      width: 2rem;
      height: 2rem;
      font-size: 18px;
      border: none;
    }
  }
}
