.employee_detail_container {
    .ck-editor__editable_inline {
        min-height: 300px;
    }

    .profile_image_center_wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
}