.employee_detail_container {
  .header {
    background: linear-gradient(
      176.86deg,
      #373fff 2.6%,
      #0069cd 2.61%,
      #6002e0 97.4%
    );
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 115px;
    position: relative;
  }

  .image_container {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    top: -80px;
    left: 50px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name {
    position: absolute;
    color: white;
    font-size: 26px;
    top: 70px;
    left: 220px;
  }

  .buttons_wrapper {
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    width: fit-content;
    margin: 2rem;
    margin: auto;

    .tab_button {
      cursor: pointer;
      user-select: none;
      background-color: #efefef;
      color: black;
      padding: 1.5rem;
      font-size: 20px;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }

    .active_tab_button {
      background-color: #373eff;
      color: white;
    }
  }

  .content {
    position: relative;
    background-color: white;
    min-height: 80vh;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .tab_container {
    padding: 3rem;
  }

  .tabs_wrapper {
    padding: 2rem 0;
  }

  .settings_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .role {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  .experience_card {
    width: 12rem;
    border: 0.5px solid #7b80ff;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;

    p {
      padding: 0;
      margin: 0;
    }
  }

  .ant-timeline-item-head {
    position: relative;
    top: 3rem;
  }
  .ant-timeline-item-tail {
    top: 3.6rem;
  }

  .ck-editor__editable_inline {
    min-height: 300px;
  }

  .profile_image_center_wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
}
