* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 2.5rem 50px 2.5rem 250px;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-btn {
  background: linear-gradient(180deg,
      rgba(0, 105, 205, 0.9) 0%,
      rgba(150, 110, 206, 0.9) 97.36%,
      rgba(0, 0, 0, 0) 106.82%,
      rgba(96, 2, 224, 0.9) 106.82%);
  color: white;
  border: none;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: whitesmoke !important;
    background: linear-gradient(180deg,
        rgba(0, 105, 205, 0.9) 0%,
        rgba(150, 110, 206, 0.9) 97.36%,
        rgba(0, 0, 0, 0) 106.82%,
        rgba(96, 2, 224, 0.9) 106.82%) !important;
  }
}

.space_elements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-white {
  color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.rounded-full {
  border-radius: 9999px;
}

.ck-editor__editable_inline {
  min-height: 300px;
}

.ant-card {
  border-radius: 1rem;
}

.ant-switch {
  background: linear-gradient(180deg,
      rgba(0, 105, 205, 0.9) 0%,
      rgba(150, 110, 206, 0.9) 97.36%,
      rgba(0, 0, 0, 0) 106.82%,
      rgba(96, 2, 224, 0.9) 106.82%);
  width: 100%;
}

.ant-popover {
  z-index: 5;
}

.ant-modal-content {
  border-radius: 1rem !important;
  padding: 0.5rem !important;
}

.ant-descriptions-view {
  border-radius: 1rem !important;
  overflow: hidden !important;
}

.ant-select-selector {
  background: linear-gradient(180deg,
      rgba(0, 105, 205, 0.9) 0%,
      rgba(150, 110, 206, 0.9) 97.36%,
      rgba(0, 0, 0, 0) 106.82%,
      rgba(96, 2, 224, 0.9) 106.82%);
  color: white;
  border-radius: 15px;
}