.search{
    background-color: white;
    width: 50%;
    height: 100px;
    position: relative;
    display: flex;
    place-items: center;
    border-radius: 35px;
}
.custommer_news{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}