
/* .ant-input-affix-wrapper {
    width: 250px;
    height: 51px;
    border: 1px solid rgba(39, 30, 74, 0.5);
    border-radius: 23px;

} */

.input {
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(199, 194, 194);
    margin-top: 23px;
}

.input:focus {
    border: none;
    border-bottom: 1px solid;
    border-color: black;
}


.upload_button {
    border: none;
    border-radius: 15px;
    background-color: #79CFA6;
}