@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import "react-big-calendar/lib/addons/dragAndDrop/styles";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

.App {
  display: flex;
  width: 100%;
  background-color: #f3f3f3;
}

.main_Container {
  width: 100%;
  margin: 30px 30px 30px 400px;
}

.order_time {
  background-color: white;
  border-radius: 15px;
  width: 100%;
}
